table {
  margin: ($base-line-height / 2) 0;
  width: 100%;
  padding: 2em;
}

th {
  font-size: em(22);
  font-weight: 800;
  padding: ($base-line-height / 2) 0;
  text-align: center;
  border-bottom: 1px solid $base-border-color;
  color: lighten($base-font-color, 20);

  &:first-child {
    border: 0;
  }
}

td {
  vertical-align: middle;

  &:first-child {
    color: $medium-gray;
    font-family: $header-font-family;
    font-size: em(18);
    width: 2em;
  }
}

tr, td, th {
  vertical-align: middle;
}
